* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .1s linear;
}

:root {
    --bg: aliceblue;
    --bg-block: burlywood;
    --text: wheat;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-block);
}

html, body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: brown;
    width: 100%;
    height: 100%;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    color: wheat;
    padding: 20px 40px;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    background-color: var(--bg-block);
    border-radius: 3px;
    padding: 5px 15px;
    text-wrap: nowrap;
    color: brown;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    padding: 5px 15px;
    text-wrap: nowrap;
    color: wheat;
    width: 90px;
    text-decoration: none;
    border-radius: 3px;
}

li a:hover, nav a:hover, .foot-up:hover {
    filter: brightness(1.4);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

li a:active, nav a:active {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.logo {
    color: wheat;
    text-decoration: none;
}

.part {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 40px;
    background-color: var(--bg-block);
    padding: 10px 20px;
}

.foot-up {color: wheat;}

@media screen and (max-width: 720px) {
    .logo {
        display: none;
    }

    header {
        justify-content: center;
    }

    footer nav {
        display: none;
    }

    nav {
        gap: 10px;
    }

    .foot-up {
        
    }
}